@media (max-width: 768px) {
  .features-grid  {
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
}

}

.feature-card i { font-size: 3rem; color: var(--primary-color); margin-bottom: 1rem; }
